<!DOCTYPE html>
<html>
<title>Vue.jsでのバリデーション</title>
<script src="https://unpkg.com/vue@2.5.17"></script>
<form id="app" @submit="checkForm" method="post" novalidate="true">
  <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </p>
  <p>
    Given a budget of 100 dollars, indicate how much
    you would spend on the following features for the
    next generation Star Destroyer. Your total must sum up to 100.
  </p>

  <p>
    <input v-model.number="weapons" type="number" name="weapons">Weapons<br />
    <input v-model.number="shields" type="number" name="shields">Shields<br />
    <input v-model.number="coffee" type="number" name="coffee">Coffee<br />
    <input v-model.number="ac" type="number" name="ac">Air Conditioning<br />
    <input v-model.number="mousedroids" type="number" name="mousedroids">Mouse Droids<br />
  </p>
  <p>
    Current Total: {{ Total }}
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>
